# ACA-Py Multi-Tenant Configuration
PUBLIC_ACAPY_API_URL=https://cloud-aries-admin.devlab.biz.id

# Docker Compose Environment Variables
# Copy this file to .env untuk custom configuration

# Network Configuration
# Harus sama dengan network di parent docker-compose
APP_NETWORK_NAME=appnet

# Dashboard Configuration
DASHBOARD_PORT=3000

# ACA-Py API URL
# Gunakan service name dari parent docker-compose
# PUBLIC_ACAPY_API_URL=http://multi-agent:8021
